* { box-sizing: border-box; }

body, html {
    margin: 0; padding: 0;
    height: 100vh;
    background-color: #f5f7f9;
    font-family: Arial, sans-serif;
    overflow: hidden; 
}

.main-layout {
    display: flex;
    flex: 1;
    height: 100vh;
    width: 100%;
    overflow: hidden;
 }

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    overflow: hidden;
}
main {
    padding: 5px 32px;
    flex: 1;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-form {
    flex: 1;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

.formulario-estirado {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-card {
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.form-card h3 {
    margin: 0 0 15px 0;
    font-size: 1rem;
    color: #111827;
    font-weight: bold;
}

.fila-flex {
    display: flex;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #4b5563;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 0.9rem;
}

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }

.form-actions-footer {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px 0 20px 0;
}

.btn-editar{
    flex: 1;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

}

#btn-guardar {
    background-color: #420098;
    border: none;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

#btn-guardar:hover {
    background-color: #2d0068;
    transition: background-color 0.3s, color 0.3s;
}

#btn-cancelar {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    transition: background-color 0.3s, color 0.3s;
}

